*.pyc
/dist/
/*.egg-info
.ipynb_checkpoints
.DS_Store
/build
/data
.idea
data
results
examples/fewshot/data/cub/images
examples/fewshot/data/miniimagenet/images
examples/fewshot/runs
MiniImageNet*
CUB*
examples/fewshot/saves
